.actions {
  display: flex;
  padding: 0;
  margin: 0;
  outline: 1px dashed goldenrod;
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  background-color: blue;
  width: 20px;
  height: 20px;
}

.button-icon {
  width: 10px;
  height: 10px;
}

.button:hover {
  background-color: red;
}